tr, td {
    padding: 0;
  }
  
  table {
    border-collapse: collapse; 
  }
  
  td {
    width: 3vw;
    height: 3vh;
    background-color: rgb(219, 214, 224);
  }
  
  button {
    width: 3vw;
    height: 3vh;
  }
  
  .walkway {
    background-color: #868494;
  }

.icicle {
    background-color: skyblue;
}

.dest {
    background-color: orange;
}

.wait {
    background-color: red;
}

.bridge {
    background-color: royalblue;
    width: 9vw;
    height: 6vh;
}

.highlight {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#wincount {
    color: green;
}

#losecount {
    color: red;
}

#passfailcontainer {
    background-color: gray;
}

#description {
    font-size: 18pt;
}

#pfindicator {
    font-size: 20pt;
}

@keyframes flash {
    0% {
      background-color: #222;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: #222;
    }
}

