tr, td {
    padding: 0;
  }

table {
  border-collapse: collapse; 
}

td {
  width: 35px;
  height: 35px;
  background-color: rgb(219, 214, 224);
}

button {
  width: 100%;
  height: 100%;
}
  
.walkway {
  background-color: #868494;
}

.icicle {
    background-color: skyblue;
}

.dest {
    background-color: orange;
}

.wait {
    background-color: red;
}

.bridge {
    background-color: royalblue;
}

.highlight {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#wincount {
    color: green;
}

#losecount {
    color: red;
}

#passfailcontainer {
    background-color: gray;
}

#description {
    font-size: 18pt;
}

#pfindicator {
    font-size: 20pt;
}

#tablecontainer {
  align-content: center;
  margin-left: 50%;
  margin-right: 50%;
}

#start, #reset {
  width: auto;
  height: auto;
}

@keyframes flash {
    0% {
      background-color: #222;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: #222;
    }
}

